
/* Rest of CSS */
a:hover {
    cursor: pointer;
    color: #fff;
}
a:selected{
    color: #fff;
}
.active{
    color: #fff;
    font-weight: bolder;
}
.option{
    background-color: #a0a3a1;
}
.option:selected{
    background-color:gray;
}
.fading {
    animation: fadeinout 2s linear 1 forwards;
}
.dropdown-menu.show{
    position: relative;
    z-index: 10000;
    overflow: visible !important;
}
@keyframes fadeinout {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


